* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	user-select: none;
	font-family: 'Poppins', sans-serif;
}

:root {
	--color-primary: #203239;
	--bg-primary: #203239;
	--bg-secondary: #eeedde;
	--bg-thirty: #fbf8f1;
	--color-default: #eeedde;
}

::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: var(--bg-thirty);
}

::-webkit-scrollbar
{
	width: 14px;
	background-color: var(--bg-thirty);
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--bg-primary);
}

/* Useful classes */
.d-flex{
	display: flex;
}
.f-col{
	flex-direction: column;
}

.f-center{
	justify-content: center;
	align-items: center;
}

/* ------------- */
body {
	background-color: var(--bg-thirty);
}

.header {
	background-color: var(--bg-primary);
	color: var(--color-default);
	display: block;
	position: fixed;
	height: 60px;
	width: 100%;
	z-index: 300;
}

.header h1 {
	font-size: 1.5em;
	top: 15px;
	position: absolute;
	display: inline;
	left: 40px;
}

.header a {
	color: var(--color-default);
	text-decoration: none;
}

/*     Navigation Bar      */
.navbar {
	position: absolute;
	display: inline;
	right: 40px;
	top: 35%;
}

.navbar li {
	text-align: center;
	width: 80px;
	display: inline-block;
}

.navbar a {
	text-decoration: none;
	color: var(--color-default);
}

.navbar a:hover {
	text-decoration: underline;
	text-decoration-color: var(--color-default);
	text-decoration-thickness: 1px;
}


/*     welcome     */
.welcome {
	height: 100vh;
	background-color: var(--bg-secondary);
}

.subtitle {
	color: var(--color-primary);
}

.welcome-title {
	font-size: 3em;
}

.im {
	font-size: 2em;
}

.welcome p {
	font-size: 1.5em;
	margin-top: 10px;
}
.welcome a {
	color: var(--color-primary);
	font-size: 2em;
	position: absolute;
	bottom: 40px;
}

.welcome-cont {
	margin: 10px 10%;
}

/*  html background   */

.html-bg {
	height: 80vh;
	background: url('../assets/img/background.jpg');
	filter: blur(3px);

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*     About Me    */
.aboutme-section {
	height: 50vh;
	position: relative;
}

#aboutme {
	margin: 0 10%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.picture-profile {
	background-color: var(--bg-secondary);
	width: 240px;
	height: 260px;
	position: relative;
	margin-top: 85px;
}

#resume {
	position: absolute;
	bottom: 10px;
	left: 27px;
	background-color: var(--bg-primary);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	padding: 10px 20px;
	max-width: 150px;
	color: var(--bg-thirty);
	text-decoration: none;
}

#aboutme img {
	position: absolute;
	top: -60px;
	width: 200px;
	margin: 20px;
}

.aboutme-text {
	overflow: hidden;
	margin-top: 80px;
	margin-left: 200px;
	width: 600px;
}

#aboutme h1 {
	font-size: 3em;
	color: var(--color-primary);
}

#aboutme p {
	font-size: 1.4em;
}

#about-me > a {
	color: var(--color-primary);
	font-size: 2em;
	position: absolute;
	bottom: -10px;
	visibility: hidden;
}

/*     Skills      */
.skills {
	background-color: var(--bg-secondary);
	position: relative;
}

.skills-sub {
	height: 50vh;
}

.skills a {
	color: var(--color-primary);
	font-size: 2em;
	position: absolute;
	bottom: 200px;
	visibility: hidden;
}

/* icons */

.skills-sub > h1 {
	margin-bottom: 60px;
	font-size: 3em;
	color: var(--color-primary);
}

.skills-sub > div {
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-around;
}

.skills > div {
	margin-bottom: 20px;

}

.skills img {
	margin: 0 30px;
	max-width: 90px;
	height: 80px;
	filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.384));
}

.sub-div-skills {
	width: 100px;
	height: 120px;
	margin: 0;
}

.skills img:hover {
	animation: scale-up-center 0.4s ease-in-out both;
}

@keyframes scale-up-center {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.3);
	}
}

/*     projects      */
.projects {
	justify-content: flex-start;
	margin-bottom: 50px;
}

.project-sub {
	justify-items: center;
  align-items: center;
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.project {
	background-color: var(--bg-secondary);
	position: relative;
	justify-content: space-between;
	align-items: center;
	border-radius: 6px;
	margin-bottom: 20px;
	min-height: 14rem;
	width: 20rem;
}
.project i {
	font-size: 2rem;
	color: var(--color-primary);
	margin-top: 10px ;
}
.project > p {
	margin: 0 20px;
	font-size: .8rem;
	color: var(--color-primary);
	text-align: center;
}
/* .project > img {
	margin-top: 10px;
	height: 12rem;
	width: 20rem;
} */

.projects > h1 {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 2.5em;
	color: var(--color-primary);
}
.project h1 {
	font-size: 1em;
	bottom: 15px;
	color: var(--color-primary);
}

.links{
	width: 90%;
	justify-content:space-between;
}

.links i {
	font-size: 1.8rem;
	text-decoration: none;
	color: var(--color-primary);
}

.project-sub .project:hover {
	animation: scale-up 0.4s ease-in-out both;
}


/*     Contact      */

.contact {
	position: relative;
	background-color: var(--bg-secondary);
}

.contact div {
	height: 25vh;
}

.contact h1 {
	margin-top: 20px;
	font-size: 3em;
	text-align: center;
	margin-left: 20px;
	color: var(--color-primary);
}
.contact a {
	text-decoration: none;
	color: var(--bg-primary);
	font-size: 5em;
	margin: 0 100px;
}

/*    foooter      */

footer {
	padding: 10px;
	background-color: var(--bg-primary);
	text-align: center;
	color: var(--color-default);
}

@media screen and (max-width: 1440px) {
	.projects > h1 {
		margin-bottom: 20px;
	}
	.project-sub {
		grid-template-columns: repeat(3, 1fr);
	}
	.aboutme-text {
		margin-top: 20px;
		width: 500px;
	}
	.skills-img {
		flex-wrap: wrap;
		justify-content: center;
	}
	#aboutme {
		transform: scale(0.8);
	}
}

@media screen and (max-width: 1024px) {
	.welcome-cont {
		transform: scale(0.8);
	}
	.project-sub {
		grid-template-columns: repeat(2, 1fr);
	}
	.aboutme-text {
		margin-left: 100px;
	}
}

@media screen and (max-width: 768px) {
	.header h1 {
		left: 0px;
		transform: scale(0.6);
	}
	.navbar {
		right: -20px;
	}
	.navbar {
		transform: scale(0.8);
	}

	.welcome-cont {
		transform: scale(0.6);
	}

	.aboutme-section {
		height: auto;
	}
	#aboutme {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
	}
	.picture-profile {
		display: block;
	}
	.aboutme-text {
		margin-left: 0;
		margin-top: 0;
		width: 600px;
	}
	.skills-sub > h1 {
		font-size: 2.5em;
	}

	.project-sub {
		margin-top: 20px;
		grid-template-columns: repeat(1, 1fr);
		overflow-x: hidden;
	}
	.project {
		transform: scale(0.9);
		margin: 0;
	}

	.contact h1 {
		font-size: 2em;
	}
	.contact a {
		margin: 0 40px;
	}
}

@media screen and (max-width: 480px) {
	.header h1 {
		left: 0px;
		transform: scale(0.6);
	}
	.navbar {
		right: -40px;
	}
	.navbar {
		transform: scale(0.7);
	}

	.aboutme-text {
		width: 400px;
	}
	#aboutme h1 {
		font-size: 2.5em;
		margin-bottom: 20px;
	}

	#aboutme p {
		font-size: 1.5em;
	}

	#about-me a {
		visibility: visible;
	}

	.skills {
		padding-top: 100px;
		padding-bottom: 400px;
	}

	.skills h1 {
		margin-top: 22rem;
	}

	.skills-img {
		margin-top: 10px;
	}

	.skills img {
		margin: 0 10px;
		margin-bottom: 80px;
	}

	.skills a {
		visibility: visible;
	}

	.project-sub {
		display: flex;
		flex-direction: column;
		align-items: center;		
	}

	.projects > h1 {
		font-size: 2em;
	}

	.contact {
		margin-top: 20px;
	}

	.contact h1 {
		font-size: 2em;
	}
	.contact a {
		margin: 0 20px;
		font-size: 4em;
	}
}